// COLORS
$main-bg-color: #ECECEC;
$text-color: #7A7A7A;
$accent-color: rgb(0, 150, 136);
$warning-color: #E75753;


// VARIABLES
$left-sidenav-width: 110px;
$widget-height: 310px;
$font-weight-bold: 600;
$font-size-large: 22px;


// LAYOUT
body {
  color: $text-color;
}

div.subtitle{
  color: darkorange;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  font: 22px sans-serif;
}

p{
  padding-left: 10px;
  font: 16px sans-serif;
  
}

pre{
  padding-bottom: 10px;
  padding-left: 10px;
}

canvas{
  padding: 10px;
  padding-left: 10px;
  margin-right: 80px;
  -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.outer {
  overflow: auto;
}
.inner_bubble {
  width: 2000px;
  height: 850px;
  
}

.inner_tidy {
  width: 960px;
  height: 960px;
}

.toolbar-button {
  min-width: 20px;
}

.share-label {
  vert-align: middle;
  margin-left: 10px;
}

.page-content {
  background-color: $main-bg-color;
}

.widget-progress {
  width: 95% !important;
  margin-left: 10px;
}


// UTILS
.capitalize {
  text-transform: capitalize;
}

.img-circle {
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

.png-icon {
  background: #FFFFFF;
  width: 100%;
}


// COMPONENTS
.messages {
  position: relative;

  &-content {
    height: 100vh;
  }
}

.notifications-label {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  font-size: 12px;
  top: 2px;
  right: 2px;
  background-color: $warning-color;
}

// panel-widget
.panel-widget {
  background-color: white;

  &-toolbar {
    box-shadow: none;
    margin: 0;
  }

  &-tittle {
    color: $text-color;
  }
}

.options {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.options.ng-hide {
  opacity:0;
}

.fixed-height-widget {
  height: $widget-height;
}

// charts
.donut-chart-title{
  text-align: center;
}

.custom-tooltip {
  font-size: $font-size-large;
  color: $text-color;
  text-align: center;
}


// OVERRIDES
// angular material overrides
md-radio-group {
  border: none;
}

md-icon {
  height: auto;
}

md-sidenav.md-locked-open.md-sidenav-left {
  width: $left-sidenav-width;
  min-width: $left-sidenav-width;
  max-width: $left-sidenav-width;
}

a.md-button.md-warn.md-raised, a.md-button.md-warn.md-fab, .md-button.md-warn.md-raised, .md-button.md-warn.md-fab {
  color: white;
}
.md-button.md-raised.md-fab{
  color: orangered;
}

//input progress bar
#progress_bar {
    margin: 10px;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    width: 100px;
    
  }
  #progress_bar.loading {
    opacity: 1.0;
  }
  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }

// check box
md-checkbox.md-checked .md-icon{
  background-color: #FA8258;
}

md-checkbox.md-checked{
  background-color: #F5D0A9;
}

md-radio-button.md-accent.md-checked .md-label span {
  color: $accent-color;
}

.md-toolbar-tools h1 {
  font-size: $font-size-large;
}


md-backdrop.md-sidenav-backdrop {
  position: fixed;
}

// libs overrides
.material-icons {
  vertical-align: middle;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.nvd3.nv-pie .nv-pie-title {
  fill: rgb(68, 68, 68);
  font-weight: $font-weight-bold;
  font-size: $font-size-large !important;
}

.nvtooltip {
  background-color: transparent;
  border: none;
  font-weight: $font-weight-bold;
}

.orange .md-bar2 {
  background-color: orange;
}

.orange .md-container {
  background-color: rgb(255, 236, 201)
}
.chartWrapper {
          position: relative;
          
      }

.chartWrapper > nvd3 {
    position: relative;
    left: 0;
    top: 0;
    pointer-events:none;
}
.chartAreaWrapper {
          overflow-x: scroll;
            position: relative;
            width: 100%;
        }

.chartAreaWrapper2 {

  position: relative;
  //height: 300px;
}

// radial tidy tree
.section.tidy {
  height: auto;
  width: auto;
}
.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  //stroke-width: 3px;
	}

.node text { 
              //font: 12px sans-serif;
              font-weight: normal }

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}
.node text.hover {
                position: absolute;
                text-align: center;
                width: 100px;
                height: 10px;
                padding: 8px;
                font: 12px sans-serif;
                background-color: #ffff99;
                border: solid 1px #aaa;
                border-radius: 8px;
                pointer-events: none;
            }
.inputWrapper {
    
    overflow: hidden;
    margin-left: 5px;
    cursor: pointer;
    /*Using a background color*/
    background-color: #DDF;
}
.fileInput {
    display: none;
    cursor: pointer;
    position:absolute;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.caption {
    color: #757575;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    width: 40px;
    padding-left: 12px;
    
}

.buttonItem{
  padding-bottom:20px;
}

.standard{
  padding-left: 10px;
}

.md-button {    
  text-transform: none !important;/*For Lower case use lowercase*/
} 

  
md-progress-linear {
  padding-top: 10px;
  margin-bottom: 20px; }


.visible {
  opacity: 0;
  border: 2px solid white !important; }

.container {
  display: block;
  position: relative;
  border: 2px solid #aad1f9;
  transition: opacity  0.1s linear;
  border-top: 0px; }

 .bottom-block {
  display: block;
  position: relative;
  background-color: white;
  height: 65px;
   }

.bottom-block > span {
  display: inline-block;
  margin-top: 10px;
  padding: 25px;
  font-size: 0.9em; }