.feature         { margin: 40px 0; } 
.feature--simple { padding: 0; }

.features-left                   { text-align: left; color: #333;  }		
.features-left  .feature         { padding-left: 0px; }	
.features-left  .cd-single-point { left: 0px; }

.features-right                  { text-align: left;  color: #333; }
.features-right .feature         { padding-left: 40px; }	
.features-right .cd-single-point { left: 15px; }



.feature h4 { font-weight: 400; line-height: 1.5; }	

.cd-img-replace { display: inline-block; overflow: hidden; text-indent: 100%; white-space: nowrap; }

.cd-single-point { position: absolute; border-radius: 50%; cursor: pointer; }

.feature__icon svg { fill: #e84d3d;  }

.main-header { color: #222; font-weight: 300; font-size: 4rem; display: inline-block; text-align: center; border-bottom: 3px solid #e84d3d; padding-bottom: 0; margin-top: 0; margin-bottom: 15px; }
.main-header sup { color: #e84d3d; font-size: .5em; font-weight: 400; top: -1em; }
.main-header strong { font-weight: 600; }
.main-text { color: #333; font-weight: 300; font-size: 3rem; }
.main-text strong { font-weight: 600; }
.main-text .price { font-weight: 600; color: #e84d3d; }
.sub-text  { color: #333; font-weight: 300; font-size: 2rem; opacity: .7; }

.cloud-bg  { background: url(../imgs/cloud.jpg) no-repeat 50% 50%; background-size:contain;  }
.mobile-bg { background: url(../imgs/mobile.png) no-repeat 50% 50%; background-size:contain; }


.cd-single-point > a { position: relative; display: block; width: 15px; height: 15px; border-radius: inherit; background: #e84d3d; z-index: 2;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
-webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; transition: background-color 0.3s; }

.cd-single-point > a::after, 
.cd-single-point > a:before {
/* rotating plus icon */
content: ''; position: absolute; left: 50%; top: 50%; bottom: auto; right: auto; background-color: #ffffff;
-webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);
-webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; transition: transform 0.3s;
}

.cd-single-point > a::after  { height: 2px; width: 12px; }
.cd-single-point > a::before { height: 12px; width: 2px; }

.cd-single-point::after {
/* this is used to create the pulse animation */
content: ''; position: absolute; z-index: 1; width: 100%; height: 100%; top: 0; left: 0;  border-radius: inherit; background-color: transparent;
-webkit-animation: cd-pulse 2s infinite; -moz-animation: cd-pulse 2s infinite; animation: cd-pulse 2s infinite; }

.cd-single-point.is-open > a { background-color: #333; }

.cd-single-point.is-open > a::after, 
.cd-single-point.is-open > a::before {
-webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
-moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
-ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
-o-transform: translateX(-50%) translateY(-50%) rotate(135deg);
transform: translateX(-50%) translateY(-50%) rotate(135deg);
}
.cd-single-point.is-open::after { /* remove pulse effect */ display: none; }

.cd-single-point.is-open .cd-more-info { visibility: visible; opacity: 1;
-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1);
-webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
-moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s; }

.cd-single-point.visited > a { background-color: #333; }

.cd-single-point.visited::after { /* pulse effect no more active on visited elements */ display: none; }

.no-csstransforms3d .cd-single-point { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

@-webkit-keyframes cd-bounce {
0% { -webkit-transform: scale(0); }
60% { -webkit-transform: scale(1.2); }
100% { -webkit-transform: scale(1); }
}

@-moz-keyframes cd-bounce {
0% { -moz-transform: scale(0); }
60% { -moz-transform: scale(1.2); }
100% { -moz-transform: scale(1); }
}

@keyframes cd-bounce {
0% { -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }
60% { -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2); }
100% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } 
}

@-webkit-keyframes cd-pulse {
0% { -webkit-transform: scale(1); box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0.8); }
50% { box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0.8); }
100% { -webkit-transform: scale(1.6); box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0); }
}

@-moz-keyframes cd-pulse {
0% { -moz-transform: scale(1); box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0.8); }
50% { box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0.8); }
100% { -moz-transform: scale(1.6); box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0); }
}

@keyframes cd-pulse {
0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0.8); }
50% { box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0.8); }
100% { -webkit-transform: scale(1.6); -moz-transform: scale(1.6); -ms-transform: scale(1.6); -o-transform: scale(1.6); transform: scale(1.6); box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0); }
}


.cd-single-point .cd-more-info { position: fixed; top: 10%; left: 0; z-index: 3; width: 100%; height: 90%; overflow-y: auto; -webkit-overflow-scrolling: touch; text-align: left; line-height: 1.5; background-color: rgba(255, 255, 255, 1); padding: 1em; visibility: hidden; opacity: 0; cursor: default;
-webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8);
-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}

.cd-single-point .cd-more-info::before {
/* triangle next to the interest point description - hidden on mobile */
content: ''; position: absolute; height: 0; width: 0; display: none; border: 8px solid transparent; }

.cd-single-point .cd-more-info h2 { font-size: 2.2rem; font-family: "Open Sans", sans-serif; font-weight: bold; margin-bottom: .6em; }
.cd-single-point .cd-more-info h3 { color: #333; font-size: 1.6rem; font-weight: 600; line-height: 1.3; margin: 2em 1em 1em 1em; }
.cd-single-point .cd-more-info p  { color: #333; font-size: 1.5rem; font-weight: 300; line-height: 1.5; margin: 1em; }
.cd-single-point .cd-more-info strong { font-weight: 600; }


.cd-close-info {
/* close the interest point description - only on mobile */
position: fixed; top: 0; left: 0; height: 44px; width: 44px; cursor: pointer; }

.cd-close-info::after, .cd-close-info:before {
  content: ''; position: absolute; left: 50%; top: 50%; bottom: auto; right: auto; background-color: #ea4a55;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg); -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg); -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg); -o-transform: translateX(-50%) translateY(-50%) rotate(45deg); transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transition: transform 0.2s; -moz-transition: transform 0.2s; transition: transform 0.2s;
}

.cd-close-info::after  { height: 2px; width: 16px; }
.cd-close-info::before { height: 16px; width: 2px; }
   
   
   /****************************************************************
*****\  =RESPONSIVE \*******************************************************
***************************************************************************************/

/*  ABOVE 600px -------------------------------*/
@media only screen and (min-width: 600px) {

.cd-single-point .cd-more-info { position: fixed; top: 10%; left: 10%; z-index: 3; width: 80%; height: 80%; }

.cd-project-title h2        { font-size: 4rem; line-height: 1.5; }
.cd-project-title p         { font-size: 2rem; line-height: 1.3; padding: .4em 2em; }

}


/*  ABOVE 992px -------------------------------*/
@media only screen and (min-width: 992px) {

.cloud-bg  { min-height: 500px; }
.mobile-bg { min-height: 500px; }

.features-left                   { text-align: right; z-index: 100; }		
.features-left  .feature         { padding-right: 50px; }	
.features-left  .cd-single-point { right: 20px; left: initial; }

.features-right                  { text-align: left; z-index: 100; }
.features-right .feature         { padding-left: 50px; }	
.features-right .cd-single-point { left: 20px; right: initial; }

.cd-single-point.is-open .cd-more-info.cd-left  { right: 140%; left: auto; }
.cd-single-point.is-open .cd-more-info.cd-right { left:  140%; right: auto; }

.cd-close-info { display: none; }

.cd-single-point .cd-more-info {
position: absolute;
width: 300px;
height: 250px;
padding: 1em;
overflow-y: visible;
line-height: 1.4;
border-radius: .25em;
box-shadow: 0 0 20px rgba(61, 56, 90, 0.3);
padding: 0;
}
.cd-single-point .cd-more-info::before {
display: block;
}

.cd-single-point .cd-more-info.cd-left, 
.cd-single-point .cd-more-info.cd-right {
top: 50%;
bottom: auto;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}

.cd-single-point .cd-more-info.cd-left::before, 
.cd-single-point .cd-more-info.cd-right::before {
top: 50%;
bottom: auto;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
.cd-single-point .cd-more-info.cd-left { right: 160%; left: auto; }
.cd-single-point .cd-more-info.cd-left::before { border-left-color: rgba(255, 255, 255, 0.95); left: 100%; }

.cd-single-point .cd-more-info.cd-right { left: 160%; }
.cd-single-point .cd-more-info.cd-right::before { border-right-color: rgba(255, 255, 255, 0.95); right: 100%; }

.cd-single-point .cd-more-info.cd-top, .cd-single-point .cd-more-info.cd-bottom {
left: 50%;
right: auto;
-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);
}
.cd-single-point .cd-more-info.cd-top::before, .cd-single-point .cd-more-info.cd-bottom::before {
left: 50%;
right: auto;
-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);
}
.cd-single-point .cd-more-info.cd-top {
bottom: 160%;
top: auto;
}
.cd-single-point .cd-more-info.cd-top::before {
border-top-color: rgba(255, 255, 255, 0.95);
top: 100%;
}
.cd-single-point .cd-more-info.cd-bottom {
top: 160%;
}
.cd-single-point .cd-more-info.cd-bottom::before {
border-bottom-color: rgba(255, 255, 255, 0.95);
bottom: 100%;
}
.cd-single-point .cd-more-info h2 {
margin-bottom: 0;
}

.cd-single-point .cd-more-info h3 { color: #333; font-size: 1.6rem; font-weight: 600; line-height: 1.3; margin: 1em 1em 0 1em; }
.cd-single-point .cd-more-info p  { color: #333; font-size: 1.5rem; font-weight: 300; line-height: 1.5; margin: 1em; }

}


    