
<!-- The content of the tab -->
<div class="container-fluid">
<div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main" align="center">

    <!-- Import the JavaScript file that adds functionality to the Brokers tab -->
    <script src="./broker.js" type="application/javascript"></script>



        <!-- Section 1: Import JSON file -->
        <h1 class="page-header">Brokers Editor</h1>
        <br>

        <label style="font-family: Calibri; font-size:20px"> Please provide the JSON string or click the import button to load the JSON file that you would like to parse its content: </label>
        <br><br>

        <input type="text" id="import-broker-field" class="form-control"  placeholder= "JSON string or file name" width="100px" vspace="0" style="max-width:300px;margin:auto;margin-top:10px;text-align:center;">  
        <br>

        <div id="button-group-broker">
            <button id="parse-button-broker" class="btn btn-default" onclick="parseBrokersJSON()">Parse</button>
            <button id="select-button-broker" class="btn btn-default" onclick="document.getElementById('fileToLoad-broker').click();">Import</button>
            <input type="file" id="fileToLoad-broker" style="display:none;" onchange="importBrokersJSONFile()">
        </div>
        <br><br>
        <hr/>

        <!-- Section 2: Brokers View and Edit Section -->  

        <!-- View Broker's Details Table -->
        <h2 class="sub-header" align="left">Brokers</h2>

        <div id="num-of-brokers" align="left">
            <label style="font-weight:normal"> Number of Brokers: </label>
            <label id="brokers-num" style="font-weight:normal"></label>      
        </div>      

        <div id="brokers-drop-down" class="" align="left">
            <!-- Select Menu -->

            <div class="">
                <label style="font-weight:normal"> Selected Broker: </label>
                <select id="brokers-drop-down-list" title="Select the desired broker" class="form-control" onchange="brokerChanged()" style="display:inline;width:initial;">
                </select>
            </div>
            <br>
        </div>

        <div class="table-responsive" id="brokers-view">
          <table class="table table-striped">
             <thead>
                <tr>
                   <th>#</th>
                   <th>Key</th>
                   <th>Value</th>
                </tr>
             </thead>
             <tbody id="brokers-table">

             </tbody>
          </table>
        </div>

        <div id="brokers-buttons">
            <div id="button-group-brokers-2" align="right" >
                <button id="previous-broker" class="btn btn-default" onclick="previousBroker()" align="left"><</button>
                <button id="next-broker" class="btn btn-default" onclick="nextBroker()" align="left">></button>
                <button id="edit-button-broker" class="btn btn-default" onclick="editBrokerButtonPressed()">Edit</button>
                <button id="delete-button-broker" class="btn btn-default" onclick="deleteBrokerButtonPressed()">Delete</button>
                <button id="new-button-broker" class="btn btn-default" onclick="newBrokerButtonPressed()">New</button>
            </div>
        </div> 

       <!-- New and Edit Broker Form -->                
       <div class="row" id="brokers-edit" style="display: none;" align="center">

        <div class="col-xs-6 form-group">

            <div>
                <label class="col-xs-12" title="The weights of the broker's supported functions">Function Weights</label>
            </div>

            <div class="features-left">
                <!-- Icon -->
                <div class="icon-md icon-color">
                    <div class="cd-points-container points-enlarged points-pulsing">
                        <div class="cd-single-point visited">
                            <a class="cd-img-replace">More info</a>
                            <div class="cd-more-info cd-right" style="height:150px;">
                                <h3>Function Weights</h3>
                                <p>Please define the weight of each function. Each weight should be a continuous value that lies in the interval [0,1].</p>
                                <a class="cd-close-info cd-img-replace">Close</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /End Icon -->
            </div>

            <div class="col-xs-12 col-md-12">
                <div class="col-xs-1 col-md-2" style="width:35px;visibility:hidden;">
                    <input class="form-control" placeholder="#0" style="text-align:center;" type="text" id="func-w0" value="1234567890" />
                </div>
                <div class="col-xs-1 col-md-2" style="padding-right:10px;padding-left:1px;margin-right:0px;margin-left:4px;">
                    <input class="form-control" placeholder="#1" style="text-align:center;" type="text" title="The weight that corresponds to the 1st function." id="func-w1" />
                </div>
                <div class="col-xs-1 col-md-2" style="padding-right:10px;padding-left:1px;margin-right:0px;margin-left:4px;">
                    <input class="form-control" placeholder="#2" style="text-align:center;" type="text" title="The weight that corresponds to the 2nd function." id="func-w2" />
                </div>
                <div class="col-xs-1 col-md-2" style="padding-right:10px;padding-left:1px;margin-right:0px;margin-left:4px;">
                    <input class="form-control" placeholder="#3" style="text-align:center;" type="text" title="The weight that corresponds to the 3rd function." id="func-w3" />
                </div>
                <div class="col-xs-1 col-md-2" style="padding-right:10px;padding-left:1px;margin-right:0px;margin-left:4px;">
                    <input class="form-control" placeholder="#4" style="text-align:center;" type="text" title="The weight that corresponds to the 4th function." id="func-w4" />
                </div>
                <div class="col-xs-1 col-md-2" style="padding-right:10px;padding-left:1px;margin-right:0px;margin-left:4px;">
                    <input class="form-control" placeholder="#5" style="text-align:center;" type="text" title="The weight that corresponds to the 5th function." id="func-w5" />
                </div>
            </div>
        </div>

        <div class="col-xs-6 form-group">

            <div>
                <label class="col-xs-12" title="">Number of Resources per vRM</label>
            </div>

            <div class="features-left">
                        <!-- Icon -->
                        <div class="icon-md icon-color">
                            <div class="cd-points-container points-enlarged points-pulsing">
                                <div class="cd-single-point visited">
                                    <a class="cd-img-replace">More info</a>
                                    <div class="cd-more-info cd-left" style="height:150px;">
                                        <h3>Number of Resources per vRM</h3>
                                        <p>Provide an integer value that denotes the number of the resources that are assigned to the Broker's vRM. </p>
                                        <a class="cd-close-info cd-img-replace">Close</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /End Icon -->
            </div>

            <div class="col-xs-12 col-sm-12">
                <input class="form-control" type="number" min="0" placeholder="Number of Resources per vRM" style="text-align:center;" type="text" id="num-res-vrm"/>
            </div>
        </div>  


        <div class="col-xs-6 form-group">

            <div>
                <label class="col-xs-12" title="">Number of vRMs per pSwitch</label>
            </div>

            <div class="features-left">
                        <!-- Icon -->
                        <div class="icon-md icon-color">
                            <div class="cd-points-container points-enlarged points-pulsing">
                                <div class="cd-single-point visited">
                                    <a class="cd-img-replace">More info</a>
                                    <div class="cd-more-info cd-right" style="height:140px;">
                                        <h3>Number of vRMs per pSwitch</h3>
                                        <p>Provide an integer that denotes the number of the vRMs that are assigned to the Broker's pSwitch </p>
                                        <a class="cd-close-info cd-img-replace">Close</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /End Icon -->
            </div>

            <div class="col-xs-12 col-sm-12">
                <input class="form-control"  type ="number" min="0" placeholder="Number of vRMs per pSwitch" style="text-align:center;" type="text" id="num-vrm-pswitch"/>
            </div>
        </div>

        <div class="col-xs-6 form-group">

            <div>
                <label class="col-xs-12" title="">Number of pSwitch per pRouter</label>
            </div>

            <div class="features-left">
                        <!-- Icon -->
                        <div class="icon-md icon-color">
                            <div class="cd-points-container points-enlarged points-pulsing">
                                <div class="cd-single-point visited">
                                    <a class="cd-img-replace">More info</a>
                                    <div class="cd-more-info cd-left" style="height:150px;">
                                        <h3>Number of pSwitch per pRouter</h3>
                                        <p>Provide an integer value that denotes the number of the pSwitches that are assigned to the Broker's pRouter. </p>
                                        <a class="cd-close-info cd-img-replace">Close</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /End Icon -->
            </div>

            <div class="col-xs-12 col-sm-12">
                <input class="form-control" type="number" min="0" placeholder="Number of pSwitch per pRouter" style="text-align:center;" type="text" id="num-pswitch-prouter"/>
            </div>
        </div> 


        <div class="col-xs-6 form-group">

            <div>
                <label class="col-xs-12" title="">Poll Interval Cell Manager</label>
            </div>

            <div class="features-left">
                        <!-- Icon -->
                        <div class="icon-md icon-color">
                            <div class="cd-points-container points-enlarged points-pulsing">
                                <div class="cd-single-point visited">
                                    <a class="cd-img-replace">More info</a>
                                    <div class="cd-more-info cd-right" style="height:120px;">
                                        <h3>Poll Interval Cell Manager</h3>
                                        <p>Provide an integer that denotes the poll interval of the Broker's Cell Manager. </p>
                                        <a class="cd-close-info cd-img-replace">Close</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /End Icon -->
            </div>

            <div class="col-xs-12 col-sm-12">
                <input class="form-control"  type ="number" min="0" placeholder="Poll Interval Cell Manager" style="text-align:center;" type="text" id="poll-interval-cell-manager"/>
            </div>
        </div>

        <div class="col-xs-6 form-group">

            <div>
                <label class="col-xs-12" title="">Poll Interval pRouter</label>
            </div>

            <div class="features-left">
                        <!-- Icon -->
                        <div class="icon-md icon-color">
                            <div class="cd-points-container points-enlarged points-pulsing">
                                <div class="cd-single-point visited">
                                    <a class="cd-img-replace">More info</a>
                                    <div class="cd-more-info cd-left" style="height:120px;">
                                        <h3>Poll Interval pRouter</h3>
                                        <p>Provide an integer value that denotes the poll interval of the Broker's pRouter. </p>
                                        <a class="cd-close-info cd-img-replace">Close</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /End Icon -->
            </div>

            <div class="col-xs-12 col-sm-12">
                <input class="form-control" type="number" min="0" placeholder="Poll Interval pRouter" style="text-align:center;" type="text" id="poll-interval-prouter"/>
            </div>
        </div>

        <div class="col-xs-6 form-group">

            <div>
                <label class="col-xs-12" title="">Poll Interval pSwitch</label>
            </div>

            <div class="features-left">
                        <!-- Icon -->
                        <div class="icon-md icon-color">
                            <div class="cd-points-container points-enlarged points-pulsing">
                                <div class="cd-single-point visited">
                                    <a class="cd-img-replace">More info</a>
                                    <div class="cd-more-info cd-right" style="height:120px;">
                                        <h3>Poll Interval pSwitch</h3>
                                        <p>Provide an integer that denotes the poll interval of the Broker's pSwitch. </p>
                                        <a class="cd-close-info cd-img-replace">Close</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /End Icon -->
            </div>

            <div class="col-xs-12 col-sm-12">
                <input class="form-control"  type ="number" min="0" placeholder="Poll Interval pSwitch" style="text-align:center;" type="text" id="poll-interval-pswitch"/>
            </div>
        </div>

        <div class="col-xs-6 form-group">

            <div>
                <label class="col-xs-12" title="">Poll Interval vRM</label>
            </div>

            <div class="features-left">
                        <!-- Icon -->
                        <div class="icon-md icon-color">
                            <div class="cd-points-container points-enlarged points-pulsing">
                                <div class="cd-single-point visited">
                                    <a class="cd-img-replace">More info</a>
                                    <div class="cd-more-info cd-left" style="height:120px;">
                                        <h3>Poll Interval vRM</h3>
                                        <p>Provide an integer value that denotes the poll interval of the Broker's vRM. </p>
                                        <a class="cd-close-info cd-img-replace">Close</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /End Icon -->
            </div>

            <div class="col-xs-12 col-sm-12">
                <input class="form-control" type="number" min="0" placeholder="Poll Interval vRM" style="text-align:center;" type="text" id="poll-interval-vrm"/>
            </div>
        </div>

        <div class="col-xs-6 form-group">

            <div>
                <label class="col-xs-12" title="">vRM Deployment Strategy</label>
            </div>

            <div class="features-left">
                        <!-- Icon -->
                        <div class="icon-md icon-color">
                            <div class="cd-points-container points-enlarged points-pulsing">
                                <div class="cd-single-point visited">
                                    <a class="cd-img-replace">More info</a>
                                    <div class="cd-more-info cd-right" style="height:120px;">
                                        <h3>vRM Deployment Strategy</h3>
                                        <p>Please select the desired deployment strategy of the Broker's vRM. </p>
                                        <a class="cd-close-info cd-img-replace">Close</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /End Icon -->
            </div>

            <div class="col-xs-12 col-sm-12">
                <!-- A Drop down list to allow the user select from the predefined strategies -->
                <select id="vrm-strategy-drop-down-list" title="Select the desired vRM deployment strategy" class="form-control" placeholder="vRM Deployment Strategy" onchange="printDeploymentStrategy()" style="display:inline;text-align-last:center;text-align:center">
                    <!-- The value attribute contains the number that should be placed in the produced JSON file -->
                    <option value="1">Task Compaction</option>
                    <option value="2">Symetry Preservation</option>
                </select>
            </div>
        </div>


       </div>            

       <!-- Save, Add and Cancel Buttons -->
       <div id="button-group-3-broker" align="right" id="prop-edit-buttons" style="display:none">
           <button id="save-button-broker" class="btn btn-default" onclick="saveBrokerButtonPressed()">Save</button>
           <button id="add-button-broker" class="btn btn-default" onclick="addBrokerButtonPressed()">Add</button>
           <button id="cancel-button-broker" class="btn btn-default" onclick="cancelBrokerButtonPressed()">Cancel</button>
       </div>   

    <!-- Section 5: Export JSON section -->   

    <hr>
        <br>
            <label  style="font-family: Calibri; font-size:20px"> Click the button below to retrieve the desired JSON string: </label>
        <br>

        <input type="text" id="export-broker-field" class="form-control"  placeholder= "JSON String Output" width="500px" vspace="0" style="max-width:500px;margin:auto;margin-top:10px;text-align:center;">
        <br>
        <button id="export-broker-button" class="btn btn-default" onclick="exportBrokerDataJSON()">Export Json</button>

        <!-- Trick for exporting a file with a desired name and in the desired format -->
        <button id="export-brokers-file-button" class="btn btn-default" onclick="exportBrokersJSONtoFile2()" download="file.txt">Export Json to File</button>
        <a id="download-brokers-anchor" onclick="exportBrokersJSONFile()" download="BrokerData.json" style="display:none;">Hello!</a> 

        <br><br>
        <hr/>

  </div>
 </div>
</div>	
