<md-content ng-controller="ChartsController as vm" layout="column" ng-cloak>
    <div class="container" ng-show="vm.isLoading()">
        <md-progress-linear md-mode="query" ng-disabled="!vm.showList[1]"></md-progress-linear>
        <div class="bottom-block">
          <span>Please wait while simulator is loading...</span>
        </div>
      </div>
    <section layout-align="start start">
        <p ng-hide="vm.isLoading()">Upload output (*.json) file of the simulation.
            <md-button layout-align="start start" class="inputWrapper md-raised" onclick="document.getElementById('fileinput').click();"
                style="color: orangered;" ng-disabled="vm.simulatorIsRunning()">
                <i class="material-icons md-24">file_upload</i> Browse
            </md-button>
            <input type="file" id="fileinput" class="fileInput">

            </input>

           
            <div id="progress_bar">
                <div class="percent"></div>
            </div>
           
        </p>
        
    </section>
    <div ng-show="vm.show">
        <div class="subtitle">General Information</div>
        <md-content layout-padding>
            <fieldset class="standard">
                <legend>General information of the simulation</legend>
                <div layout="row" layout-wrap flex>
                    <md-list-item flex="50" ng-repeat="info in vm.generalInfo">
                        <p> {{ info.name }} :
                            <i ng-show="!vm.isNull(info.value)">{{ info.value }}</i>
                        </p>
                    </md-list-item>
            </fieldset>
        </md-content>
        <div class="subtitle">Time - dependent charts</div>
        <section layout-align="start start" layout="row">
            <div class="buttonItem" layout="column">
                <md-button class="md-raised md-fab" ng-click="run=!run" ng-disabled="vm.simulatorIsRunning()">
                    <i class="material-icons md-36" aria-label="Play" ng-show="!run">play_arrow</i>
                    <i class="material-icons md-36" aria-label="Pause" ng-show="run">pause</i>
                   
                </md-button>
                <div class="caption" ng-show="!run">Play</div>
                <div class="caption" ng-show="run">Pause</div>
            </div>
            <div class="buttonItem" layout="column">
                <md-button class="md-raised md-fab" data-ng-click="reset()" ng-disabled="vm.simulatorIsRunning()">
                    <i class="material-icons md-36" aria-label="Reset">refresh</i>
                    
                </md-button>
                <div class="caption">Reset</div>
            </div>
            <div class="buttonItem" layout="column">
                <md-button class="md-raised md-fab" data-ng-click="fast_forward()" ng-disabled="vm.simulatorIsRunning()">
                    <i class="fa fa-fast-forward fa-lg" aria-label="Fast Forward"></i>
                   
                </md-button>
                <div class="caption">Go to end</div>
            </div>
        </section>
        <div>
            <p>Speed:
                <input type="radio" ng-model="vm.speed" ng-value="1500" ng-change="vm.hasChanged()" ng-disabled="vm.simulatorIsRunning()">x1</input>
                <input type="radio" ng-model="vm.speed" ng-value="1000" ng-change="vm.hasChanged()" ng-disabled="vm.simulatorIsRunning()">x2</input>
                <input type="radio" ng-model="vm.speed" ng-value="500" ng-change="vm.hasChanged()" ng-disabled="vm.simulatorIsRunning()">x3</input>
                <input type="radio" ng-model="vm.speed" ng-value="250" ng-change="vm.hasChanged()" ng-disabled="vm.simulatorIsRunning()">x4</input>
            </p>
            <hr/>
        </div>
        <!--<div class="subtitle">Line charts</div>-->
        <fieldset class="standard">
            <legend>Select measured values to display</legend>
            <div flex="50" layout="row">
                <md-checkbox aria-label="Select All" ng-checked="vm.isChecked()" md-indeterminate="vm.isIndeterminate()" ng-click="vm.toggleAll()">
                    <span ng-if="vm.isChecked()">Un-</span>Select All
                </md-checkbox>
            </div>
            <div layout="row" layout-wrap flex>
                <div flex="50" ng-repeat="title in vm.lineChartTitles2">
                    <md-checkbox ng-checked="vm.exists(title, vm.selectedTitles)" ng-click="vm.toggle(title, vm.selectedTitles)">
                        {{ title }}
                    </md-checkbox>
                </div>
            </div>
        </fieldset>
        <div>

            <div ng-show="vm.fileIsBig() && !vm.simulatorIsRunning()">
                <p>
                    Slices:
                    <md-button class="md-raised" ng-click="first()">{{vm.startTime1}} - {{vm.endTime1}} sec</md-button>
                    <md-button class="md-raised" ng-click="second()">{{vm.startTime2}} - {{vm.endTime2}} sec</md-button>
                    <md-button class="md-raised" ng-click="third()">{{vm.startTime3}} - {{vm.endTime3}} sec</md-button>

                </p>
            </div>
            <p>
                <md-button class="md-raised" ng-click="entire()" ng-disabled="vm.simulatorIsRunning()">All data</md-button>
            </p>


            <hr/>
        </div>

       

        <canvas id="Total Energy Consumption" ng-show="vm.exists(vm.lineChartTitles2[0], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Processor Utilization over Active Servers" ng-show="vm.exists(vm.lineChartTitles2[1], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Processor Utilization" ng-show="vm.exists(vm.lineChartTitles2[2], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Memory Utilization over Active Servers" ng-show="vm.exists(vm.lineChartTitles2[3], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Memory Utilization" ng-show="vm.exists(vm.lineChartTitles2[4], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Network Utilization" ng-show="vm.exists(vm.lineChartTitles2[5], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Storage Utilization over Active Servers" ng-show="vm.exists(vm.lineChartTitles2[6], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Storage Utilization" ng-show="vm.exists(vm.lineChartTitles2[7], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Accelerator Utilization over Active Servers" ng-show="vm.exists(vm.lineChartTitles2[8], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Accelerator Utilization" ng-show="vm.exists(vm.lineChartTitles2[9], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Active Servers" ng-show="vm.exists(vm.lineChartTitles2[10], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Total Number of accepted Tasks" ng-show="vm.exists(vm.lineChartTitles2[11], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Total Number of rejected Tasks" ng-show="vm.exists(vm.lineChartTitles2[12], vm.selectedTitles)" height="60"></canvas>
        <canvas id="Running VMs" ng-show="vm.exists(vm.lineChartTitles2[13], vm.selectedTitles)" height="60"></canvas>
       


        <div>
            <hr/>
        </div>
        <div layout="row">
            <md-input-container style="margin-right: 10px; padding-left: 10px;">
                <label>Select a value</label>
                <md-select ng-model="title">
                    <md-option ng-repeat="title in vm.lineChartTitles2" ng-if="title!='Network Utilization'" value="{{title}}" ng-selected="title == vm.lineChartTitles2[1]">{{title}} </md-option>
                </md-select>
            </md-input-container>
        </div>
        <section layout-align="start start" style="padding-left: 10px;">
            <span ng-if="vm.time!=''">Time: {{vm.time}} s</span>
        </section>
        <div class="outer">
            <div class="inner_tidy">
                <section class="tidy" layout-align="center center" layout="row">
                </section>
            </div>
        </div>
        <div>
            <hr/>
        </div>
        <!-- Bubble Chart-->
            <div class="subtitle" ng-show="vm.show">Hardware Type Utilization per Cell</div>
            <div layout="row" ng-show="vm.show">
                <md-input-container style="margin-right: 10px; padding-left: 10px;">
                    <label>Select a value</label>
                    <md-select ng-model="selectedUtilizationName">
                        <md-option ng-repeat="selectedUtilizationName in vm.utilizationNames" ng-if="selectedUtilizationName!='Network Utilization'" value="{{selectedUtilizationName}}" ng-selected="selectedUtilizationName == vm.utilizationNames[7]"
                            ng-click="vm.selectionNameHasChanged(selectedUtilizationName)">{{selectedUtilizationName}} </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <section layout-align="start start" style="padding-left: 10px;">
                <span ng-if="vm.time!=''">Time: {{vm.time}} s</span>
            </section>
            <div id="toolbar" ng-show="vm.show">
                <section layout-align="start start">
                    <md-button class="md-raised bubble-button" id="all" style="color: orangered;">
                        HW types in Cloud
                    </md-button>
                    <md-button class="md-raised bubble-button" id="cell" style="color: orangered;">
                        HW Types By Cell
                    </md-button>
                    
                </section>
            </div>
            <div class="outer">
                <div class="inner_bubble">
                    
                </div>
            </div>
        <!-- Bubble Chart-->
        </div>
</md-content>